.container {
    padding: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.areaNameAndPhoto {
    display: flex;
    align-items: center;
}

.areaPhoto {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(223, 16, 16, 0.212);
    position: relative;
}

.areaPhoto img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.areaInfo {
    width: 100%;
}

.areaInfo .areaData {
    position: relative;
}

.areaNameAndPhoto span {
    color: #df1010;
    font-size: 14px;
}

.areaNameAndPhoto .name {
    font-size: 14px;
}

.areaInfo .text {
    line-height: 25px;
    color: #666;
    font-size: 16px;
    padding-top: 10px;
}

.areaButton {
    width: 100%;
    text-align: end;
}

.button {
    font-size: 11px;
    margin-top: 20px;
    border: 0;
    outline: none;
    background-color: transparent;
    color: #666;
    cursor: pointer;
    transition: all ease .2s;
    text-align: end;
    width: fit-content;
}

.button:hover {
    color: #333;
}

.button a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .container {
        padding-left: 10px;
    }

    .areaPhoto {
        width: 30px;
        height: 30px;
    }

    .areaInfo .text {
        font-size: 14px;
    }

    .button {
        font-size: 8px;
    }
}