.container {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../../public/images/f2.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;

}

.container h1 {
    color: #F3F3F3;
    margin-bottom: 10px;
}

.error {
    color: #df1010;
    height: 20px;
    font-size: 13px;
    padding: 5px 0;
    border: 1px solid #df1010;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 3px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;

}

.form .inputArea,
.form .areaFile {
    padding: 0 15px;
    background-color: #000;
    color: #FFF;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    opacity: .5;
    border-radius: 5px;
    border: 1px solid #f3f3f3c7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;

}

.form .areaFile input {
    width: 200px;
}

.form .areaFile .file {
    flex: 1;
    border: 0;
}

.form .input {
    outline: none;
    border: 0;
    color: #FFF;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    display: flex;
    padding: 13px 0;
}

.inputArea input::placeholder {
    color: #FFF;

}

.inputArea {
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.showPassword {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.form .check {
    margin-right: 10px;
    color: #FFF;
}

.file {
    background-color: #000;
    color: #FFF;
    padding: 10px 20px;
    cursor: pointer;
    opacity: .6;
    border: 1px solid #f3f3f3c7;
    border-radius: 5px;
}

.file .input {
    display: none;
}

input.button {
    margin-top: 20px;
    background-color: #df1010;
    padding: 15px;
    outline: none;
    border: 0;
    cursor: pointer;
    color: #FFF;
    font-size: 17px;
    transition: all ease .2s;
    border-radius: 5px;
    text-align: center;
    opacity: 1;
}

.button:hover {
    background-color: #b10d0d;
}

.redirect {
    margin-top: 10px;
    font-size: 12px;
    color: #F3F3F3;
}

.redirect a {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}

.loginButton {
    margin-top: 20px;
    background-color: #df1010;
    padding: 15px;
    outline: none;
    border: 0;
    cursor: pointer;
    color: #FFF;
    font-size: 17px;
    transition: all ease .2s;
    border-radius: 5px;
    text-align: center;
    opacity: 1;
    font-size: 16px;
    width: 100%;
    padding: 13px 0;
}

.loginButton:hover {
    background-color: #b10d0d;
}

@media (max-width: 767px) {
    .container h1 {
        font-size: 22px;
    }

    .form {
        width: 100%;

    }

    .form .input,
    .form .inputArea {
        font-size: 14px;

    }

    .form .inputArea input {
        text-align: left;
    }

    .form .areaFile {
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
        font-size: 12px;
    }

    .inputArea input::placeholder {
        font-size: 12px;

    }

    .form .button,
    .loginButton {
        padding: 10px;
        font-size: 14px;
    }

    .check {
        width: 10px;
    }

    .checkLabel {
        font-size: 12px;
        display: flex;
        align-items: center;
    }

}