.container {
    padding: 20px 0px 10px 0px;
}

.container .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 10px 25px;
}

.container .title h2 {
    font-size: 30px;
    color: #333;
}

.container .title a {
    text-decoration: none;
    color: #777;
    transition: all ease .3s;
}

.container .title a:hover {
    color: #444;
    text-decoration: underline;
}

@media (max-width:767px) {
    .container .title h2 {
        font-size: 20px;
    }

    .container .title a {
        font: 16px;
    }
}