.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 50px;
    background-color: #FFF;
    box-shadow: 0 4px 2px -2px gray;
    margin-top: -1px;
    position: relative;
}

.container nav {
    position: relative;
}

.menuIcon {
    display: none;
    width: fit-content;
}

.areaMenu {
    display: flex;
}

.areaMenu2 {
    display: none;
}

.contLink {
    display: flex;
    list-style: none;
    padding: 0;
    height: auto;
    position: relative;
    transition: all ease .5s;
}

.linkItem {
    padding: 15px 0px;
    height: 50px;
    transition: all ease .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.linkItem:nth-child(1) {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}


.linkItem:hover .linkItem:nth-child(1) {
    color: #fff;
}

.linkItem:hover {
    background-color: #df1010;
    color: #FFF;
}

.linkItem a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 15px 15px;
}

.linkItem a:hover {
    color: #fff;
}

.linkActive {
    color: #FFF;
    background-color: #df1010;
}

.linkActive a {
    color: #FFF;
}


.areaLoginSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
}

.areaLoginSearch a {
    text-decoration: none;
    color: #0fb950;
    font-weight: bold;
    margin-left: 20px;
}

.input {
    width: 350px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #999;
}


.input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 0 10px;
}

.icon {
    width: 50px;
    height: 100%;
    background-color: #f2f2f2;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.areaLoginSearch button {
    outline: none;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-left: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: all ease .3s;
}

.areaLoginSearch button:hover {
    color: #df1010;
}

.locale {
    display: flex;
    list-style: none;
}

.locale a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    color: #000;
    font-weight: bold;
}

.locale a:hover {
    color: #df1010;
}

.list {
    position: absolute;
    z-index: 10;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 0 5px #000;
    overflow: hidden;
}

.li {
    padding: 10px;
    background-color: #fff;
}

.li:hover {
    background-color: #ddd;
}

.li a {
    color: #333;
    font-weight: normal;
    text-align: left;
}

.hello {
    padding-left: 20px;
    display: flex;
}

.areaUser {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1075px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .areaLoginSearch {
        display: flex;
        padding: 10px 0;
        width: 100%;
    }

    .areaInput {
        flex: 1;
        display: flex;
    }

    .input {
        width: 100%;
    }

    .input input {
        width: 100%;
    }

    .linkItem {
        height: 40px;
        align-items: center;
    }

    .list {
        top: 50px;
    }

    .areaUser {
        display: flex;
        justify-content: space-between;

    }
}

@media (max-width: 767px) {
    .container {
        padding: 20px;

    }

    .hello {
        padding: 0;

    }

    .list {
        width: 100%;

    }

    .menuIcon {
        display: block;
    }

    .areaMenu {
        display: none;
    }

    .areaMenu2 {
        display: flex;
    }

    .nav,
    .contLink {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .areaLoginSearch {
        flex-direction: column;
        justify-content: center;
        border-top: 1px solid #333;
        width: 100%;
        padding-bottom: 0;
    }

    .areaInput {
        width: 100%;
    }

    .linkItem {
        width: 100%;
        padding: 0;
        justify-content: flex-start;
    }

    .linkItem a {
        padding: 10px 5px;
        font-size: 12px;
        width: 100%;
    }

    .linkItem:nth-child(1) a {
        width: 100%;
        padding: 5px 5px;
    }

    .areaUser {
        display: flex;
        width: 100%;
        margin-top: 20px;
        justify-content: space-between;
        font-size: 14px;
    }

    .language {
        font-size: 14px;
    }

}